* {
    font-family: sans-serif;
    border-radius: 10px;
  }
  
  .header__box {
    background: yellowgreen;
    padding: 20px;
    font-weight: bold;
    height: 10vh;
  }
  
  nav {
    background: green;
    padding: 15px;
    color: white;
    font-weight: normal;
    margin-top: 10px;
  }
  
  aside {
    background: orange;
    display: inline-block;
    height: 50vh;
  width: 20vw;
  padding: 20px;
  }
  
  main {
    background: red;
    display: inline-table;
    width: 50vw;
    height: 50vh;
    padding: 20px;
    margin-left: 23px;
    margin-right: 23px;
    color: white;
  }
  
  article {
    width: 44vw;
    height: 5vh;
    margin-top: 30px;
    padding: 30px;
    background: white;
    color: black;
    font-weight: bold;
  }
  
  footer {
    background: purple;
    padding: 35px;
    margin-top: 40px;
    color: white;
    height: 45px;
  }
  
  .aside1 {
    color: white;
    text-align: center;
  }
  
  .middleSection {
    margin-top: 30px;
  }